.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: vid 0.5s alternate;
    display: none;

    .vid1 {
      display: block;
    }
  }
}
.controls {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  .dots {
    height: 1.5rem;
    width: 4.5rem;
    background: #fff;
    margin: 0 1rem;
    box-shadow: $box-shadow;
    border-radius: 5rem;
    cursor: pointer;

    &:hover {
      background: $black;
    }
  }
}
